AIVEN_USER=avnadmin
AIVEN_PASSWORD=your_mysql_password_here
AIVEN_PG_PASSWORD=your_postgres_password_here
ADMIN_PASSWORD=Admin123!
JWT_SECRET=TXlTZWNyZXRLZXlGb3JKV1RUb2tlbkxlZ2FjeVBoYXJtYWN5MjAyNVNwcmluZ0Jvb3Q0VmVyeVNlY3VyZUtleQ
